{
    "plugins": [["@babel/plugin-proposal-decorators", { "legacy": true }]],
    "presets": [
        [
            "next/babel",
            {
                "class-properties": {
                    "loose": true
                }
            }
        ]
    ]
}
